* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(darkslateblue, cornflowerblue);
}

header {
    display: flex;
    flex-direction: column;
    border-radius:10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 200px;
    background-color: darkslategrey;
    color: lightblue;
    border-bottom: solid;
}

header h1 {
    position: relative;
    top: 75px;
    margin-left: .5in;
    font-size: 60px;
    text-decoration: overline underline;
}

header nav {
    align-self: flex-end;
    position: relative;
    top: 60px;
    width: fit-content;
    background-color: lightblue;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 20px;
    font: 1em sans-serif;
    text-decoration: none;
}

header ul li {
    display:inline-block;
    font-size: 48px;
    margin-right: 100px;
}
a {
    color:black;
    text-decoration: none;
}

main {
    margin: 20px 0;
    padding: 10px;
    display: flex;
}

section {
    display:flex
}

content {
    /* border-style: solid; */
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    justify-items: center;
    max-width: 75%;
}

content div {
    /* border-style: solid; */
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h3 {
    font-size: 30px;
}

aside {
    background-color: darkslategrey;
    border-left:10px;
    border-left-style: solid;
    padding:30px;
    height: auto;
    width: 20%;
    float: right;
    clear: both;
    color:lightblue;
}

aside h4 {
    font-size: 48px;
    text-decoration: underline;
}

aside img {
    padding-bottom: 10px;
    max-width: 210px;

  }

aside p {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}

footer h4 {
    text-decoration: underline;
    font-size: 30px;
}

footer a {
    text-decoration: underline;

}

#placeholderApp1 {
    width: 700px;
    height: 700px;
    background-image: url("/assets/images/placeholder-image.png");

}

#placeholderApp2 {
    background-image: url("/assets/images/placeholder-image.png");

}

#placeholderApp3 {
    background-image: url("/assets/images/placeholder-image.png");

}

#placeholderApp4 {
    background-image: url("/assets/images/placeholder-image.png");

}