body {
    background-color:darkcyan;
}
header {
    padding-top: 10px;
    padding-left: 10px;
    background-color: blue;
    color: white;
}
header ul li {
    padding: 30px;
    display:inline-block;
    font-size: 30px;
}
a {
    color:white;
    text-decoration: none;
}
content div {
    padding: 40px
}

content div p {
    font-size: 20px;
}